table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

th {
  font-weight: bold;
}

.black-bg {
  background-color: black;
  color: white;
}

a {
  color: purple;
  text-decoration: underline;
}
